.signin-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  label {
    display: block;
    margin: 10px 0;
  }
  input {
    margin-right: 20px;
  }
  .sigin-gender {
    border-color: tomato;
    div {
      display: flex;
      align-items: center;
      div {
      }
    }
  }
}
